.active {
  background-color: white;
  color: #280559 !important;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
} 
.notFound {
  margin-top: 15%;
  text-align: center;
}
.notFound h1 {
  font-size: 130px;
}
.notFound p {
  font-size: 50px;
}