.checkbox-container {
    display: flex;
    align-items: center;
  }
  
  .checkbox-container input {
    margin-right: 8px;
  }
  
  .checkbox-container label {
    color: #333;
    user-select: none;  
  }