:root {
  --bs-primary: #330e81; /* Override primary color */
  --heading-primary: #4c2999;
  --bg-primary: rgb(255, 255, 255);

  --border-radius-primary: 20px;

  --font-size: 14px;
  --font-weight-700: 700;
  --font-weight-500: 500;
}

body {
  background-color: rgb(233, 233, 233);
}

.heading-custom {
  color: var(--heading-primary);
  font-weight: var(--font-weight-700);
}

.view-status-paragraph {
  color: gray;
}

.additional-information,
.applications {
  background-color: var(--bg-primary);
  border-radius: var(--border-radius-primary);
}

.additional-paragraph {
  font-size: 1.5rem;
  font-weight: var(--font-weight-700);
}

.additional-text {
  font-size: 1.3rem;
  font-weight: var(--font-weight-500);
}

.applications-heading {
  font-weight: var(--font-weight-500);
}

.search-application {
  border-radius: var(--border-radius-primary);
  background-color: rgb(241, 241, 241);
}

.filter-btn,
.export-btn {
  width: 6vw;
  background-color: var(--bg-primary);
  border: 0;
  color: var(--bs-primary);
  font-size: 1rem;
  font-weight: var(--font-weight-500);
}

/* Use the custom primary color */
.btn-custom {
  width: 9vw;
  background-color: var(--bs-primary);
  font-size: 0.8rem;
  font-weight: var(--font-weight-500);
  transition: 1s;
  border: none;
  padding: 1.2vh 0;
}

.btn-custom:hover {
  background-color: var(--bs-primary);
  cursor: pointer;
  transform: scale(1.5);
}

.btn-custom:active {
  background-color: var(--bs-primary);
}


.check-user {
  display: inline;
  border: 1px solid black;
}