* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;        
    padding: 20px;
  }
  

  .formSection {
    width: 100%;
    max-width: 500px;          
    padding: 40px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
  
  
    
    .header {
      text-align: left;
      margin-bottom: 30px;
    }
    
    .title {
      color: #2d3748;
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 8px;
    }
    
    .subtitle {
      color: #718096;
      font-size: 14px;
      margin: 0;
    } 
    

    
    .signupText {
      display:flex; 
      justify-content: center;
      margin-top: 18px;
      color: rgba(0, 0, 0, 0.81)6;
      font-size: 14px;
    }
  
    .signuplink {
      color : #361f55
    }
    